 .otimizacao {
      padding: 3rem 5%;
      text-align: center;
      background-color: #f9f9f9;
    }

    .otimizacao h2 {
      font-family: 'Cal Sans', sans-serif;
      font-size: 2.2rem;
      background: linear-gradient(90deg,  #4f744a, #9e6897);
      background-clip: text;         
      -webkit-background-clip: text; 
      -webkit-text-fill-color: transparent;
      color: transparent;
      margin-bottom: 1rem;
    }

    .otimizacao p {
      font-size: 1.2rem;
      line-height: 1.7;
      color: #444444;
      max-width: 700px;
      margin: 0.8rem auto;
      font-weight: 400;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 0.02em;
      text-align: center;
    }
